<footer>

    <div>
        <h4>
            <span><i class="fa-regular fa-copyright"></i></span>
            <span>Coding Ninjas. All Rights Reserved</span>
        </h4>
    </div>

    <div id="nav-links">
        <a href="/">Home</a>
        <a href="/users/profile">Profile</a>
    </div>

</footer>