<h1>Forgot Password</h1>

<form action="/users/reset-link" method="post">
    <input type="email" name="email" placeholder="Your Email" required>
    <button type="submit">Send reset link</button>
</form>