<h1>Reset Password</h1>

<form action="/users/update-password" method="post">
    <input type="password" name="password" placeholder="New Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="hidden" name="user_id" value="<%= resetToken.user %>">
    <button type="submit">Reset Password</button>
</form>