header{
    width: inherit;
    height: 2rem;
    background-color: #34a853;
    padding: 4px 8px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{
        color: white;
    }

    #auth-links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        a{
            color: white;
            text-decoration: none;
            margin-left: 1rem;
            font: {
                size: 1.1rem;
                weight: 500;
            }

            &:hover{
                color: white;
            }
        }
    }
}